body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease-in-out;
}

/* Main Weather Container */
.weather {
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Responsive */
@media (max-width: 576px) {
    .weather {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .weather {
        padding: 30px;
    }
}

/* Search Input */
.search-box {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background: rgb(225, 214, 7);
    color: #000;
    outline: none;
    transition: background 0.3s;
}

.search-box input:hover {
    background: #6ef227;
}

/* Weather Info */
.weather-icon {
    width: 120px;
    margin: 20px 0;
}

.temperature {
    font-size: 28px;
    color: floralwhite;
}

.location {
    font-size: 18px;
    color: floralwhite;
    margin-bottom: 10px;
}

.weather-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    color: #912b14;
}

.weather-data .col {
    display: flex;
    gap: 10px;
    font-size: 18px;
    align-items: flex-start;
}

.weather-data .col span {
    font-size: 12px;
}

.weather-data .col img {
    width: 20px;
    margin-top: 8px;
}

/* Location Button */
.location-btn {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    color: rgb(47, 28, 5);
    background: rgb(4, 220, 227);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.location-btn:hover {
    background: #279ec9;
}


.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background: #ddd;
    color: #333;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.mode-toggle:hover {
    background: #bbb;
}

/* Dark Mode Styles */
.weather.dark {
    background-color: #1e1e1e !important;
    color: #f0f0f0;
}

.weather.dark .search-box input {
    background: #333;
    color: #f0f0f0;
}

.weather.dark .search-box input:hover {
    background: #444;
}

.weather.dark .location-btn {
    background: #555;
    color: #eee;
}

.weather.dark .location-btn:hover {
    background: #777;
}

.weather.dark .temperature,
.weather.dark .location {
    color: #f0f0f0;
}

.weather.dark .weather-data {
    color: #f8bcbc;
}
